body{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

nav img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

nav li{
    margin-right: 20px;
    padding: 20px;
}

nav{
    border-bottom: solid 1px black;
}

.background{
    background-image: url(../images/landingpage.jpg);
    height: 900px;
    background-size: cover;
}

.gettingstartedbackground{
    background-image: url(../images/gstarted.png);
    height: 500px;
    background-size: cover;
}

.title{
    color: white;
    height: 90%;
    margin-left: 50px;
    margin-right: 20px;
    font-size: 35px;
    float: left;
    position: absolute;
}

#herotitle{
    font-size: 50px;
    margin-top: 50%;
}

#herodescription{
    padding: 20px;
}

.whyinv{
    margin-bottom: 30px;
}

#overview{
    text-align: center;
    padding: 30px;
}

#risks h1{
    text-align: center;
    text-decoration: underline;
    padding: 30px;
}

#risks h3{
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

#risks i{
    padding: 25px;
}

#risks{
    background-color: rgb(5, 105, 145);
    color: white;
}

#risks p{
    text-align: center;
}

#risks div{
    border: 1px solid black;
}

.whyinv img{
    padding: 30px;
    object-fit: contain; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.whyinv p{
    padding: 20px;
}

#types h1{
    padding: 30px;
    text-align: center;
}

#types h3{
    padding: 25px;
}

#types i{
    padding: 10px;
}

#types p{
    padding: 15px;
}

.posneg{
    text-align: center;
}

#longtrading{
    background-color: rgb(5, 105, 145);
    color: white;
}

#longtrading p{
    padding: 20px;
    width: 90%;
    margin: auto;
    font-size: 115%;
}

#longtrading h1{
    padding: 30px;
    text-align: center;
}

footer{
    height: 150px;
    color: white;
    text-align: center;
    list-style-type: none;
    width: 100%;
}

#frontpagefooter{
    background-color: rgb(5, 105, 145);
}

#gettingstartedfooter{
    background-color: rgb(102, 139, 66);
}

#contactfooter{
    background-color:rgb(46, 46, 180);
}

footer h5{
    padding: 20px;
}

footer .smicons li{
    display: inline;
    margin: 0 20px 0;
    font-size: 300%;
}

footer i{
    color: white;
}

#portfolio h1{
    text-align: center;
    padding: 20px;
}

#portfolio p{
    padding: 20px;
}

.started h1{
    text-align: center;
}

#charttext{
    margin-top: auto;
    margin-bottom: auto;
}

#piechart{
    padding: 20px;
}

#chartdiv{
    margin-top: 60px;
}

#charttext p{
    padding: 20px;
}

.contactme h2{
    text-align: center;
    margin-bottom: 80px;
}

.contactme p{
    margin-top: 20px;
}

.dataentry{
    border: solid 1px grey;
    width: 100%;
}

#formrow{
    padding: 20px;
}

#form{
    border: solid 1px grey;
    padding: 20px;
    margin-top: 175px;
    margin-bottom: 100px;
    border-radius: 30px;
}

.submitbutton{
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(46, 46, 180);
    width: 100%;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#message{
    height: 200px;
}

textarea{
    width: 100%;
    border: 1px solid black;
}

.resources{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 80px;
}

.resources img{
    padding: 20px;
    border-radius: 30px;
    height: 250px;
}

.resources h5{
    padding: 30px;
}

#adjust{
    margin-top: 10px;
}

h5{
    font-size: 17px;
}

.resources input{
    margin-bottom: 30px;
    background-size: 150%;
    color: white;
    background-color: rgb(102, 139, 66);
    padding: 10px;
    border-radius: 10px;
}